* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
}

#letra {
    display: flex;
    justify-content: start;
    font-style: italic;
    text-align: justify;
    align-items: start;
    flex-direction: column;
    border: 1px solid black;
    width: 50%;
    height: auto;
    padding: 10px;
    margin-left: 10%;
    font-size: 20px;
}

.partes {
    margin-bottom: 10px;
    text-align: inherit;
}